body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
::-webkit-scrollbar{
	width: .5rem;
	height: .5rem;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.3);
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.7);
}